#container {
    margin: auto;
    width: 1400px;
    
}

#login {
    height: 50px;
    background-color: lightseagreen;
}

#login > a {
    margin-top: 15px;
    padding-right: 10px;
    float: right;
    text-decoration: underline;
    font-size: 20px;
    color: black;
}

#login > a:hover {
    color: red;
}

header {
    background-image: url(https://vn-live-01.slatic.net/shop/d09bc945cace5fe5bf5557a42227aef0.jpeg);
    height: 250px;
    background-size: 100% 100%;
}

nav {
    margin-top: 5px;
    background-color: lightseagreen;
    height: 60px;
}

nav ul {
    margin: 0px;
    padding: 0px;
    text-align: center;
    z-index: 1;
}

nav  ul  li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    display: block;
    list-style: none;
    text-decoration: none;
    padding: 0px 30px;
    font-size: 25px;
    color: black;
    line-height: 60px;
}

nav ul ul {
    position: absolute;
    display: none;
}

nav ul li:hover a{
    background-color: rgb(209,219,229);
    color: red;
}



nav ul li:hover ul {
    display: block;
    width: 159px;
    list-style: none;
    border-radius: 3px;
    box-shadow: 0px 0px 1px gray;
}

nav ul li:hover ul li {
    width: 100%;
}

nav ul li:hover ul li:hover a {
    background-color: lightseagreen;
}

nav ul li:hover ul a {
    color: black;
    text-decoration: none;
    font-size: 25px;
    padding: 5px 0 5px 0px;
}

#container > main > article {
    background-color: rgb(209,219,229);
    min-height: 450px;
    width:  75%;
    float: left;
    margin-top: 5px;

}

#tieude > h1 {
    margin-left: 10px;
}

.anh > a > img {
    height: 300px;
    width: 330px;
    margin-left: 14px;
}

.sp {
    float: left;
    margin-left: 90px;
}

.sp > a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.sp > a:hover {
    color: lightseagreen;

}

.sp > p {
    font-size: 20px;
    color: red;
    text-decoration: underline;
}

aside {
    background-color: rgb(209,219,229);
    float: right;
    min-height: 450px;
    width: 24%;
    margin-top: 5px;
}

#container > main > aside ul li  {
    list-style-image: url(https://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/16/Actions-go-next-view-icon.png);
    font-size: 25px;
    margin-top: 15px;
    margin-left: 50px;
    border-bottom: 1px solid black;
    padding: 10px 0px 10px 0px;
    
}

#container > main > aside ul li a {
    text-decoration: none;

}

#container > main > aside ul li a:hover {
    color: orange;
}

#container > main > aside ul {
    margin: 0%;
    padding: 0%;
}

main > aside > form > input {
    width: 130px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    outline:none;
    margin-top: 5px;
    margin-left: 5px;
    height: 30px;

    transition:0.6s ease-in-out;
} 

input:focus {
    width: 330px;
    transition:0.6s ease-in-out;
}

footer {
    background-color: lightseagreen;
    height: 100px;
    clear: both;
}

footer > div > .box > a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 25px;
    margin: 0px 10px 0px 10px;
    color: white;
}

footer > div > .box {
    float: left;
    margin: 22px 0px 0px 65px;
    padding: 0%;
   
}

footer > div > .box > img {
    padding-top: 10px;
    margin-left: 10px;
}